.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/

pandas_new/*
pic/*.png

casus/*/*.url

casus/apple/
casus/fifa18/
casus/HBO-eerstejaars/
casus/NYC_sales/*
casus/olympic_athletes/
casus/redwine/src/
casus/titanic/
casus/UFO/src/

numpy/numpy-100-master/
opdrachten/04_toetsen_(deel1)_student.ipynb
opdrachten/04_toetsen_(deel2)_student.ipynb
