.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/

pandas_new/*
pic/*.png

casus/*/*.url

casus/apple/
casus/fifa18/
casus/HBO-eerstejaars/
casus/NYC_sales/*
casus/olympic_athletes/
casus/titanic/

numpy/numpy-100-master/
